# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
.DS_Store
Thumbs.db

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

bin/
package/
.vagrant/
teamcity-exporter
.build
dependencies-stamp
.tarballs/
coverage.out
debug.test
*.exe
*.exe~
__debug_bin
vendor/github.com/prometheus/client_model/.classpath
vendor/github.com/prometheus/client_model/.project
vendor/github.com/prometheus/client_model/.settings/org.eclipse.core.resources.prefs
vendor/github.com/prometheus/client_model/.settings/org.eclipse.jdt.apt.core.prefs
vendor/github.com/prometheus/client_model/.settings/org.eclipse.jdt.core.prefs
vendor/github.com/prometheus/client_model/.settings/org.eclipse.m2e.core.prefs
